{extends file='../base.html'}

{block name=content}

<div class="copyright">
<p>WOOCMS软件使用协议</p>
<p>版权所有 © 2017-2018 WOOCMS</p>       
<p>感谢您选择WOOCMS内容管理框架, 希望我们的产品能够帮您把网站发展的更快、更好、更强！</p> 
<p>你可以免费使用WOOCMS进行个人、学习、<b>商业</b>等项目的开发，但必须保留（禁止删除、隐藏、修改、透明、遮挡等）软件版权信息的正常显示及相关连接正常，并且我们不负责因擅自修改源码而导致的一系列问题和损失。
如果需要修改软件版权信息和相关连接，必须联系WOOCMS管理员（QQ：1990818917）进行正版授权。</p>
<p>不管是免费版本还是正版授权，禁止在WOOCMS整体或任何部分基础上发展任何派生版本、修改版本或第三方版本用于重新分发。</p>
<p>WOOCMS唯一网站地址：https://www.eduaskcms.xin/</p>
<p><b>WOOCMS免责声明</b></p>
<p>  1、使用WOOCMS构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果，WOOCMS官方不承担任何责任。</p>
<p>  2、您一旦安装使用WOOCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</p>

</div>

<div class="bottom-btns">
    <a href="{$absroot}?s=install/index/step2" class="layui-btn">接 受 >></a>
</div>
{/block}