{extends file="global.html"} 

{block name="global"}
    {block name="head"}
    <div class="wrap" id="install"> 
        <div class="header">
            <span>V{\woo\controller\WooApp::version()}</span>
            <h2  class="reset">WooCMS安装向导</h2>
        </div>
        
        <div class="container">
    {/block}
    {block name="content"}{/block}
    {block name="foot"}
        </div>
    </div>
    
    <div class="footer wrap">
        <div class="link">
        {foreach $foot_link as $item}{strip}
        <a href="{$item.link}" target="_blank">{$item.title}</a>{if !$item@last}<em>|</em>{/if}
        {/strip}{/foreach}
        </div>
        <div class="foot_copy">&copy; 2017-2018 WooCMS</div>
    </div>
    
    {/block}
{/block}